@media (max-width: 991px) {
    .mapArea {
        height: 200px;
        width: 100%;
        margin-top: 5px;
        float: none;
    }
    .infoBox {
        padding-top: 50px;
        .name {
            font-size: 24px;
        }
        .openingTimes {
            margin-bottom: 15px;
        }
    }
    .tips .reviewBox {
        img {
            height: 30px;
            border-radius: 15px;
        }
        .tip {
            margin-left: 45px;
        }
    }
}
@media (max-width: 670px) {
    .infoBox {
        .name {
            display: block;;
        }
        .rating {
            float: none;
            text-align: left;
        }
    }
    .innerSlider {
        width: 93%;
    }
}
@media (max-width: 640px) {
    .overflow {
        width: 230px;
    }
    .item .box {
        h3 .rating, h3 .name {
            font-size: 16px;
        }

    }
    .infoBox {
        .name {
            font-size: 18px;
        }
        .rating {
            h3 {
                font-size: 18px;
            }
        }
        .openingTimes h4 {
            font-size: 16px;
            font-weight: bold;
        }
    }
}
@media (max-width: 525px) {
    .overflow {
        width: 150px;
    }
}
@media (max-width: 440px) {
    .item .box {
        img {
            margin: 0;
            width: 130px;
            height: 135px;
        }
        h3 {
            padding-left: 140px;
        }
        .address {
            padding-left: 140px;
        }
        .openClosed {
            padding-left: 140px;
        }
    }
    .infoBox {
        font-size: 12px;
        .name {
            font-size: 16px;
        }
        .rating {
            h3 {
                font-size: 16px;
            }
        }
        .openingTimes h4 {
            font-size: 14px;
            font-weight: bold;
        }
    }
}
@media (max-width: 410px) {
    .welcome .box {
        h1 {
            font-size: 2.5em;
        }
    }
    .overflow {
        width: 120px;
    }
}
@media (max-width: 365px) {
    body {
        overflow-x: hidden;
    }
    .overflow {
        width: 98px;
    }
    .item .box {
        img {
            width: 120px;
            height: 135px;
        }
        h3 {
            padding-left: 125px;
            margin-top: 0;
            line-height: 12px;
            .rating, .name {
                font-size: 12px;
            }
        }
        .address {
            padding-left: 125px;
            font-size: 12px;
        }
        .openClosed {
            padding-left: 125px;
        }
    }
    .infoBox {
        .address {
            p {
                display: block;
            }
            .line {
                margin-left: 30px;
            }
        }
    }
    .slick-prev:before, .slick-next:before {
      font-size: 18px;
    }
}
