/* ==============================
   VARIABLES
============================== */
$font-stack: 'Montserrat', sans-serif;
$font-special: 'Cabin Sketch', cursive;
$primary-color: #22313F;
$text-color-light: #BFBFBF;
$text-grey: #7b7b7b;
/* ==============================
   BASIC
============================== */
body {
    font-family: $font-stack;
    font-size: 14px;
    background-color: #e9e9e9;
    position: relative;
    min-height: 100vh;
    padding-bottom: 25px;
}
.clearfix {
    &:before,
    &:after {
    content: " ";
    display: table;
    }
    &:after {
        clear: both;
    }
}
/* ==============================
   NAVBAR
============================== */
.topbar {
    height: 50px;
    width: 100%;
    background-color: $primary-color;
    .input-group {
        max-width: 70%;
        float: right;
        margin-top: 8px;
        .input-group-btn {
            button {
                background-color: $text-color-light;
            }
            i {
                color: $primary-color;
            }
        }
    }
    .logo {
        max-width: 30%;
        float: left;
        color: $text-color-light;
        font-weight: bold;
        font-family: $font-special;
        font-size: 2em;
        letter-spacing: 1.5px;
        margin-top: 10px;
    }
}
.location {
    padding: 15px 0 5px;
}
/* ==============================
   FOOTER
============================== */
footer {
    height: 25px;
    width: 100%;
    background-color: $primary-color;
    color: $text-color-light;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    text-align: center;
    padding-top: 3px;
}
/* ==============================
   WELCOME
============================== */
.welcome {
    height: 88.5vh;
    background: -webkit-linear-gradient(rgba(34, 49, 63, 0.7), rgba(34, 49, 63, 0.7)), url('./cake.jpg');
    background: linear-gradient(rgba(34, 49, 63, 0.7), rgba(34, 49, 63, 0.7)), url('./cake.jpg');
    background-size: cover;
    position: relative;
    .box {
        position: absolute;
        top: 50%;
        left: 20%;
        right: 20%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        h1, h2 {
            color: white;
            font-family: $font-special;
            text-transform: uppercase;
            text-align: center;
        }
        h1 {
            font-size: 3.5em;
        }
    }
}
/* ==============================
   SEARCH RESULTS
============================== */
.overflow {
    width: 310px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.loading {
    text-align: center;
    margin-top: 30px;
}
.item {
    padding: 0;
    .box {
        width: 98%;
        min-height: 160px;
        border: 2px solid transparent;
        border-radius: 2px;
        margin: 5px auto 5px 0;
        padding: 10px;
        background-color: white;
        position: relative;
        -webkit-transition: border 0.5s ease;
        transition: border 0.5s ease;
        &:hover {
            border: 2px solid $primary-color;
        }
        img {
            float: left;
            margin: 5px;
            border-radius: 2px;
        }
        h3 {
            color: $primary-color;
            margin-top: 3px;
            padding-left: 180px;
            font-size: 20px;
            .rating {
                float: right;
                font-size: 24px;
            }
            .name {
                display: inline-block;
                @extend .overflow;
            }
        }
        .address {
            color: $text-grey;
            font-weight: normal;
            padding-left: 180px;
            .street {
                @extend .overflow;
            }
            p {
                margin: 0;
            }
        }
        .openClosed {
            font-size: 12px;
            color: $primary-color;
            padding-left: 180px;
            position: absolute;
            bottom: 0;
        }
    }
}
/* ==============================
   DETAIL PAGE
============================== */
.arrow {
    height: 50px;
    a {
        position: absolute;
        left: 0;
        top: 55px;
    }
}
.back {
    font-size: 2em;
    color: $text-grey;
    margin: 20px;
    -webkit-transition: color 0.5s ease;
    transition: color 0.5s ease;
    &:hover {
        color: $primary-color;
    }
}
.foursquare {
    position: absolute;
    right: 0;
    color: $text-grey;
    display: inline-block;
    margin: 15px 20px;
}
.detailContainer {
    background-color: white;
    padding-top: 10px;
    height: auto;
    margin-bottom: 30px;
    padding-bottom: 10px;
}
/* Carousel */
.innerSlider {
    width: 95%;
    margin: 10px auto;
    img {
        margin: 0 auto;
    }
}
.slick-prev:before, .slick-next:before {
  color: $text-grey;
  font-size: 24px;
}
/* Map */
.mapArea {
    height: 300px;
    width: 300px;
    float: right;
    margin-top: 5px;
    .more {
        .btn {
            width: 100%;
            margin-top: 5px;
        }
        .btn-default {
            background-color: $primary-color;
            color: $text-color-light;
        }
    }
}
/* Info */
.infoBox {
    color: $text-grey;
    min-height: 350px;
    .name {
        color: $primary-color;
        display: inline;
    }
    .rating {
        float: right;
        text-align: center;
        margin-right: 20px;
        h3 {
            margin: 0;
        }
    }
    .address {
        margin-top: 15px;
        p {
            display: inline;
        }
    }
    p {
        margin: 0;
        line-height: 25px;
        display: block;
        overflow: hidden;
        i {
            margin: 0 10px 0 0;
            float: left;
            font-size: 18px;
            color: $primary-color;
            height: 100%;
            width: 20px;
            line-height: 1;
        }
        a {
            color: $text-grey;
        }
    }
    .openingTimes {
        h4 {
            color: $primary-color;
            margin-top: 25px;
        }
        .time {
            margin-left: 10px;
        }
    }
}
/* Reviews */
.tips {
    .reviewBox {
        min-height: 80px;
        border-bottom: 1px solid #e9e9e9;
        padding: 8px 0;
        img {
            float: left;
            margin-right: 15px;
            border-radius: 35px;
        }
        p {
            font-weight: normal;
            display: block;
            overflow: hidden;
        }
        .tip {
            color: $text-grey;
        }
        .name {
            color: $primary-color;
        }
    }
}
/* ==============================
   MEDIA QUERIES
============================== */
@import '_queries';
