/* ==============================
   VARIABLES
============================== */
$font-stack: 'Montserrat', sans-serif;
$font-special: 'Cabin Sketch', cursive;
$primary-color: #22313F;
$text-color-light: #BFBFBF;
$text-grey: #7b7b7b;

/* ==============================
   BASIC
============================== */
body {
    font-family: $font-stack;
    font-size: 14px;
    background-color: #e9e9e9;
    position: relative;
    min-height: 100vh;
    padding-bottom: 30px;
}

/* ==============================
   NAVBAR
============================== */
.topbar {
    height: 50px;
    width: 100%;
    background-color: $primary-color;
    .input-group {
        max-width: 70%;
        float: right;
        margin-top: 8px;
        .input-group-btn {
            button {
                background-color: $text-color-light;
            }
            i {
                color: $primary-color;
            }
        }
    }
    .logo {
        max-width: 30%;
        float: left;
        color: $text-color-light;
        font-weight: bold;
        font-family: $font-special;
        font-size: 2em;
        letter-spacing: 1.5px;
        margin-top: 10px;
    }
}
.location {
    padding: 15px 0 5px;
}
/* ==============================
   FOOTER
============================== */
footer {
    height: 25px;
    width: 100%;
    background-color: $primary-color;
    color: $text-color-light;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    text-align: center;
    padding-top: 3px;
}

/* ==============================
   SEARCH RESULTS
============================== */
.name {
    display: inline-block;
    width: 310px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item {
    padding: 0;
    .box {
        width: 98%;
        min-height: 160px;
        border: 2px solid transparent;
        border-radius: 2px;
        margin: 5px auto 5px 0;
        padding: 10px;
        background-color: white;
        position: relative;
        transition: border 0.5s ease;
        &:hover {
            border: 2px solid $primary-color;
        }
        img {
            float: left;
            margin: 5px;
            border-radius: 2px;
        }
        h3 {
            color: $primary-color;
            margin-top: 3px;
            padding-left: 180px;
            font-size: 20px;
            .rating {
                float: right;
                font-size: 24px;
            }
        }
        .address {
            color: $text-grey;
            font-weight: normal;
            padding-left: 180px;
            .street {
                @extend .name;
            }
            p {
                margin: 0;
            }
        }
        .openClosed {
            font-size: 12px;
            color: $primary-color;
            padding-left: 180px;
            position: absolute;
            bottom: 0;
        }
    }
}
